.header {
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    grid-column: full-start/col-end 6;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-gap: 3rem;
    align-content: space-around;


    padding: 4rem 9rem 3rem 9rem;

    @media only screen and (max-width:$medium) {
        grid-column: 1/-1;
    }

    @media only screen and (max-width:$small) {
        padding: 4rem 6rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;

        grid-row: 1/2;
    }

    &__media {
        align-self: center;
        justify-self: center;
    }

    &__paragraph {
        color: $color-grey-light-2;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1rem;
        align-items: center;

        span {
            font-size: 1.6rem;
            justify-self: center;
        }

        &::before,
        &::after {
            content: '';
            background-color: currentColor;
            height: .7px;
            display: block;
        }
    }

    &__companies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        margin-top: 1rem;
        grid-gap: 3rem;
    }

    img {
        max-height: 2.5rem;
        max-width: 100%;
        opacity: .5;
    }
}